---
layout: "page"
title: "Hauseigene Produkte"
generator: "pagination"
provider: "site.posts"
max_page: 9
---
<div class="page-header">
	<h1>Hauseigene <small>Produkte</small></h1>
</div>
<div class="row">
	{% for produkt in page.pagination.items %}
		<div class="col-md-4 project-box">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2><a href="{{ produkt.url }}">{{ produkt.title }}</a></h2>
					<p>{{ produkt.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% include "paginator.html" %}
